.container
  .header
    %legend
      %h1
        Passed test statistic
  #statistic-chart
  .actions
    = link_to '< previous', 'javascript:void(0)', id: :previous, onclick: 'StatisticChart.previous();'
    = link_to 'next >', 'javascript:void(0)', id: :next, onclick: 'StatisticChart.next();'
:javascript
  StatisticChart.draw(#{@statistic})
